<div class="cont">
  <form class="form">
    <label for="username">Email Id</label>
    <input type="text" id="username" name="username" placeholder="Email Id" [(ngModel)]="email" required
      autocomplete="on" />

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="password" required
      autocomplete="on" />

    <button type="submit" (click)="login()">Login</button>
  </form>
  <p class="link" (click)="openRegisterModal()">Register</p>
</div>

<router-outlet />