.bg-gradient {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
}

.login-card {
  width: 100%;
  max-width: 400px;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  color: white;
}

.vibrant-btn {
  background-color: rgb(38, 127, 236);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.vibrant-btn:hover {
  background-color: #00a8cc;
  transform: translateY(-2px);
}

.eye-btn {
  border: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.eye-btn img {
  cursor: pointer;
}

.eye-btn:active {
  transform: none;
}


.register-link {
  cursor: pointer;
  color: #ffd700;
}

.register-link:hover {
  color: #ffffff;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}