<div class="d-flex justify-content-center align-items-center vh-100 bg-gradient">
  <div class="card shadow-lg p-4 rounded-4 login-card text-white">
    <h2 class="text-center mb-4 fw-bold">Welcome Back 👋</h2>
    <form #loginForm="ngForm" (ngSubmit)="login()" class="w-100">
      <div class="mb-3">
        <label for="username" class="form-label">Email Address</label>
        <input type="email" id="username" name="username" class="form-control form-control-lg"
          placeholder="you@example.com" [(ngModel)]="email" required autocomplete="on" />
      </div>
      <div class="mb-4">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" placeholder="Password"
            [(ngModel)]="password" required autocomplete="on" class="form-control form-control-lg" />
          <button type="button" class="btn btn-outline-light eye-btn" (click)="togglePasswordVisibility()"
            tabindex="-1">
            <img [src]="showPassword ? 'assets/svg/eye-slash.svg' : 'assets/svg/eye.svg'" alt="Toggle Password"
              width="20" height="20" />
          </button>
        </div>
      </div>
      <button type="submit" class="btn btn-lg w-100 vibrant-btn">Login</button>
    </form>
    <p class="mt-3 text-center">
      New here?
      <span class="text-decoration-underline fw-semibold register-link" (click)="openRegisterModal()">
        Register Now
      </span>
    </p>
  </div>
</div>

<router-outlet />