.btn {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-header);
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  column-gap: 15px;
  border-radius: 50px;
}

.send-btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: rgb(38, 127, 236);
  border-radius: 50px;
}


.typemessage {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  font-size: 22px;
  color: var(--text-color);
}

.typemessage:focus {
  outline: none;
  border: none;
  box-shadow: none;
}