.container {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  background-color: rgb(237, 237, 237);
  margin: 0 auto;
  padding: 20px;
}

.container-left {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.container-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chatBox {
  flex-grow: 1;
}

@media screen and (max-width: 720px) {
  .container-right {
    display: none;
  }
}
