.cont {
  margin: 0;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  padding: 21px;
}

.container-left {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.container-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chatBox {
  flex-grow: 1;
}

.start-container {
  background-color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: bolder;
}