.cont {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  justify-content: left;
  background-color: transparent;
  width: auto;
  padding: 10px;
}

.spacer {
  flex-grow: 1;
}

.userdetails {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
}

.username {
  font-size: 14px;
  color: rgb(143, 143, 143);
}

.btn {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .........................................................................Toggle below................................................................................... */


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #267fec;
  /* default (light mode) */
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 12px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #000000;
  /* when toggled (indicating dark mode) */
}

/* input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
} */

input:checked+.slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}