.bg-gradient {
  background: linear-gradient(to right, #ff6a00, #ee0979);
}

.container-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.vibrant-btn {
  background-color: rgb(38, 127, 236);
  color: #ffffff;
  border: none;
  transition: all 0.3s ease-in-out;
}

.vibrant-btn:hover {
  background-color: #00c6d7;
  transform: scale(1.02);
}

.modal-body {
  background-color: #f9f9f9;
  border-radius: 0 0 15px 15px;
}

input::file-selector-button {
  background-color: #ff6a00;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.eye-btn {
  border: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border: 2px solid rgb(222, 226, 230);
}

.eye-btn img {
  cursor: pointer;
}

.eye-btn:active {
  transform: none;
}