/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body,
html {
  margin: 0 auto;
  background-color: rgb(237, 237, 237);
}

button:active {
  transform: translateX(2px);
}
